:root {
  --primary-color: #2a9d8f;
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

.App {
  text-align: center;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: orange;
  /* background-color: #264653; */
  z-index: inherit;
}

.home {
  height: 400px;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 110px;
  font-size: 3rem;
  font-weight: 700;
  z-index: 20;
  color: #f4a261;
}

.type-writer {
  text-align: center;
  font-size: 70px;
  top: 90%;
  /* left: 15%; */
  width: 80%;
  position: relative;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
  z-index: 10;
  border-radius: 0px 15px 0px 15px;
}

/* .home-img:hover {
  transform: scale(0);
} */

.img {
  border-radius: 0px 15px 0px 15px;
}

.type-writer {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.3s steps(35, end), blink-caret 0.7s step-end infinite;
  z-index: 15;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mouse_scroll {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;
  position: relative;
  bottom: -105%;
  z-index: 30;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  z-index: 15;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  z-index: 15;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.journey {
  height: 900px;
  position: absolute;
  top: 1200px;
  width: 100%;
}

.march {
  position: relative;
  top: -40%;
  left: 2%;
  color: #f4a261;
}

.title1 {
  font-weight: lighter;
  color: #f4a261;
  font-size: 44px;
  position: absolute;
  top: -10px;
  left: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
}

.flex-box-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.list1 {
  list-style-type: circle;
  color: whitesmoke;
}

.journey .flex-box-container div {
  margin: 40px;
  text-align: center;
  /* top: -100px; */
  height: 500px;
  width: 400px;
  padding-top: 150px;
  margin-top: 140px;
  flex: 1;
  border-width: 3px;
  border-style: solid;
  border-color: #e9c46a;
  border-radius: 15px;
  background-color: whitesmoke;
}

.journey .flex-box-container div p {
  color: whitesmoke;
  position: relative;
  top: -20%;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
  text-align: left;
  padding: 16px;
}
.journey .flex-box-container div ul {
  text-align: left;
  color: whitesmoke;
  position: relative;
  top: -50px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
}

.journey .flex-box-container div:hover {
  /* transform: scale(1.2); */
  background-color: #2a9d8f;
}

.about-me {
  height: 900px;
  background-color: #2a9d8f;
  position: absolute;
  top: 2100px;
  width: 100%;
}

.title2 {
  font-weight: lighter;
  color: #f4a261;
  font-size: 44px;
  position: absolute;
  top: 10px;
  right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
}

.flex-box-container2 {
  display: flex;
  flex-wrap: wrap;
}

.about-me .flex-box-container2 .mee {
  margin: 40px;
  text-align: center;
  position: relative;
  height: 500px;
  width: 100%;
  border-width: 3px;
  word-wrap: break-word;
}

.about-me .flex-box-container2 p {
  color: white;
  font-size: 19px;
  position: absolute;
  top: 100px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
  padding: 16px;
  padding: 30px;
}

.interests {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  top: -140px;
}

.japan {
  flex: 1;
  background-image: url("../src/images/images/me-in-penang.jpeg");
  border-width: 3px;
  border-color: #f4a261;
  border-style: solid;
  height: 350px;
  border-radius: 20px;
  margin: 20px;
  background-size: cover;
}

.plane {
  flex: 1;
  background-image: url("../src/images/images/gliders.jpeg");
  border-color: #f4a261;
  border-style: solid;
  height: 350px;
  border-radius: 20px;
  margin: 20px;
  background-size: cover;
}

.everest {
  flex: 1;
  background-image: url("../src/images/images/everest.jpeg");
  border-color: #f4a261;
  border-style: solid;
  height: 350px;
  border-radius: 20px;
  margin: 20px;
  background-size: cover;
}

.div1 {
  background-image: url("../src/images/images/portfolio-item11.jpg");
  z-index: 40;
  background-size: cover;
}

.div2 {
  background-image: url("../src/images/images/backend.png");
  z-index: 40;
  background-size: cover;
}

.div3 {
  background-image: url("../src/images/images/travel-app.jpg");
  z-index: 40;

  background-size: cover;
}

.work {
  height: 1550px;
  background-color: #e76f51;
  opacity: 90%;
  position: absolute;
  top: 3000px;
  width: 100%;
  z-index: 30;
}

.work1 {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.title3 {
  font-weight: lighter;
  color: #264653;
  font-size: 44px;
  position: absolute;
  top: -20px;
  left: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
}

.flex-box-container3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.work .flex-box-container3 div {
  margin-top: 100px;
  margin-left: 200px;
  flex: 1 1 1;
  height: 300px;
  width: 500px;
  border-style: solid;
  border-color: #2a9d8f;
  border-radius: 15px;
  background-color: #264653;
}

.work .long .div {
  z-index: 40;
  width: 700px;
}

.divide {
  opacity: 80%;
}

/* mywork buttons */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

/* .big-button .big {
  padding: 50px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: dotted;
  font-size: 1.5rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;

} */

a.big-button {
  color: var(--colorShadeC);
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -85px;
  right: -80%;
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  width: 15%;
}
a.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

a.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

a.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

a.big-button:active {
  transform: translate(0em, 0.75em);
}

a.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}

.contact {
  height: 900px;
  background-color: #e9c46a;
  opacity: 90%;
  position: absolute;
  top: 4150px;
  width: 100%;
  position: relative;
}

.box {
  position: relative;
  bottom: -30%;
  right: -25%;
  text-align: center;
  width: 50%;
  height: 40%;
  background-color: cadetblue;
  border-radius: 10px;
  padding: 20px;
  padding-left: -30px;
}

.title4 {
  font-weight: lighter;
  color: #2a9d8f;
  font-size: 44px;
  position: absolute;
  top: 10px;
  right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.15em;
}

.footer {
  display: grid;
  width: 100%;
  background-color: #f4a261;
  position: fixed;
  bottom: 0;
  z-index: 30;
  height: 55px;
  border-top: 12px;
  border-top-color: #2a9d8f;
  /* border-top-color: #2a9d8f; */
  border-top-style: solid;
}

.social-bar {
  text-align: center; /* justify-content: center;
  align-items: center; */
}

.social-bar ul li {
  bottom: 0;
  width: 60px;
  height: 100%;
  display: inline-block;
  list-style-type: none;
}

.social-bar .list {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather);

h1 {
  text-align: center;
  color: #a8a8a8;
  @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
  max-width: 600px;
  text-align: center;
}

#input-name {
  position: absolute;
  margin: 10px;
  height: 32px;
  border-radius: 10px;
  top: 29%;
  left: 15%;
}
#input-subject {
  margin: 10px;
  height: 32px;
  border-radius: 10px;
  position: absolute;
  top: 41%;
  left: 15%;
}

#input-email {
  margin: 10px;
  height: 32px;
  border-radius: 10px;
  position: absolute;
  top: 52%;
  left: 15%;
}

#input-message {
  border-radius: 10px;
  width: 200px;
  height: 120px;
  position: absolute;
  top: 110px;
  right: 25%;
  border-style: inset;
}

#input-submit {
  position: absolute;
  color: white;
  background: #e76f51;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 59%;
  right: 25%;
  top: 70%;
}

textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

@media (max-width: 1180) {
  a.big-button {
    z-index: 40;
  }
}

@media (max-width: 1000px) {
  a.big-button {
    color: var(--colorShadeC);
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -85px;
    right: -3%;
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
    width: 15%;
  }

  .journey .flex-box-container div p {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .divide {
    display: none;
  }

  .type-writer {
    width: 150%;
    font-size: 2rem;
    text-align: center;
  }

  .home-img {
    width: 150%;
    position: absolute;
    left: 0px;
  }

  .logo {
    text-align: center;
    font-size: 5rem;
  }

  .title1 {
    font-size: 3rem;
  }
  .title2 {
    font-size: 3rem;
  }

  .journey {
    width: 190%;
  }

  .about-me {
    width: 190%;
  }

  .work {
    width: 190%;
  }

  .contact {
    width: 190%;
  }

  .title3 .title4 {
    font-size: 3rem;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
